{{ define "main" }}
<div class="row">
  {{ partial "aside.html" . }}
  <div class="col-md-8">
    <div class="title my-4">
      <div class="fs-4 px-2 bg-primary-alt text-light">{{ T "projects.title" }}</div>
    </div>

    {{ range .Pages }}
      <div class="print-no-brake">
        <div class="flex-grow-1 fs-4 fw-bold">{{ .LinkTitle }}</div>
        <div class="fs-6 fw-normal fst-italic">{{ .Params.position }}</div>
        <div class="d-flex flex-wrap gap-2">
          {{ range .Params.domains }}
            <span class="badge text-dark bg-warning">{{ . }}</span>
          {{ end }}
          {{ range .Params.technologies }}
            <span class="badge bg-primary-alt">{{ . }}</span>
          {{ end }}
        </div>
        <p class="mt-2 mb-3">{{ .Summary }}</p>
        <div class="mt-2 mb-3">
          <span class="fw-bold me-1">{{ T "responsibilities.title" }}:</span>
          {{ .Params.responsibilities }}
        </div>
        <hr />
      </div>
    {{ end }}

    <div class="mt-4 d-flex align-items-center gap-3">
      <div class="title"></div>
      <div class="fs-4">{{ T "hobbies.title" }}</div>
      <span>{{ T "hobbies.reply_title" }}</span>
    </div>
  </div>
</div>
{{ end }}
